{% extends "base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="centered-container mt-5">
    <div class="container register-container">
        <h2>Reset Your Password</h2>
        {% if valid_link %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_password">New Password*</label>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter your new password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password*</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your new password" required>
            </div>
            {% if error %}
                <div class="error text-danger">{{ error }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
        {% else %}
        <p class="text-danger">The reset password link is invalid or has expired. Please try again.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
