{% load i18n %}
{% if not admin_log %}
    <p>{% translate 'None available' %}</p>
{% else %}
    <ul class="actionlist">
    {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            <span class="visually-hidden">{% if entry.is_addition %}{% translate 'Added:' %}{% elif entry.is_change %}{% translate 'Changed:' %}{% elif entry.is_deletion %}{% translate 'Deleted:' %}{% endif %}</span>
            {% if entry.is_deletion or not entry.get_admin_url %}
                {{ entry.object_repr }}
            {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
            {% endif %}
            {% if entry.content_type %}
                {% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}
            {% else %}
                {% translate 'Unknown content' %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
